/* Timeline Container */
.timeline {
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--quicksand-font);
}

.outer {
    margin-top: 60px;
}

/* tcard container */
.tcard {
    position: relative;
    max-width: 450px;
}

/* setting padding based on even or odd */
.tcard:nth-child(odd) {
    padding: 50px 0 50px 50px;
}

.tcard:nth-child(even) {
    padding: 50px 50px 50px 0;
}

/* Global ::before */
.tcard::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--title-color-dark);
}

/* Setting the border of top, bottom, left */
.tcard:nth-child(odd)::before {
    left: 0px;
    top: 0px;
    bottom: -9.5px;
    border-width: 10px 0 10px 10px;
    border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
    .tcard:nth-child(odd)::before {
        top: -5px;
        bottom: -5px;
    }
}

/* Setting the border of top, bottom, right */
.tcard:nth-child(even)::before {
    right: 4px;
    top: 0;
    bottom: -9.9px;
    border-width: 10px 10px 10px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first tcard */
.tcard:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last tcard  and it's odd */
.tcard:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last tcard  and it's even */
.tcard:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline */
.tcard .info {
    display: flex;
    flex-direction: column;
    background: #1d1d20;
    color: white;
    border-radius: 10px;
    padding: 30px 20px;
}

.tcard .info p {
    margin-bottom: 0;
    font-size: 16px;
}

.tcard .date {
    font-size: 21px;
    color: var(--title-color-dark);
}

.tcard .heading {
    color: white;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px;
}

/* Timeline dot  */
.tcard .heading::before {
    content: "";
    position: absolute;
    top: -32px;
    width: 35px;
    height: 35px;
    background-color: var(--title-color-dark);
    border: 8px solid white;
    border-radius: 999px;
    margin-left: -4.5px;
}

/* text right if the tcard is even  */
.tcard:nth-child(even)>.info>.heading {
    text-align: right;
}

.tcard:nth-child(even)>.info>.date {
    text-align: right;
}

.tcard:nth-child(even)>.info>p {
    text-align: right;
}

/* setting dot to the left if the tcard is odd */
.tcard:nth-child(odd)>.info>.heading::before {
    left: -78px;
}

/* setting dot to the right if the tcard is odd */
.tcard:nth-child(even)>.info>.heading::before {
    right: -78px;
}