
.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    margin: 0 auto;
    width: 83%;
}

.contact-persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 40px; 
}

.person {
    width: 350px;
    height: 130px;
    padding: 20px;
    background-color: #232323;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.person p:nth-child(1) {
    font-family: 'IntegralCF-Regular', sans-serif;
    letter-spacing: 1px;
    color: rgb(255, 240, 178);
    font-size: 24px;
    line-height: 1.1;
}

.person p:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
    padding-top: 7px;
}

.person p:nth-child(3) {
    font-size: 16px;
    font-weight: 300;
}

.person p {
    margin: 0;
    font-family: var(--quicksand-font);
}

.person p:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
    white-space: pre-line;
}


