.faq_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 80px 0;
    color: white;
    width: 83%;
}

.accordion {
    width: 100%;
    margin-top: 60px;
    background-color: transparent;
    border: none;
}

.accordion-button {
    font-family: var(--quicksand-font);
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
}

.accordion-item {
    background-color: transparent;
    border-right: none;
    border-left: none;
    color: white;
}

.accordion-collapse {
    font-family: var(--quicksand-font);
    font-size: 16px;
    font-weight: 400;
    color: white;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .accordion {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .accordion-item {
        width: 100%;
        margin-inline: 0;
    }
}