.home_container {
    display: flex;
    justify-content: center;
    height: 700px;
    width: 85%;
    margin: auto;
    padding-top: 5.5rem;
    box-sizing: border-box;
    gap: 120px;
}

.left_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    animation: container .5s ease-in;
}

@keyframes container {
    0% {
        opacity: 0;
        transform: scale(1.2, 1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

#main_title {
    font-family: "IntegralCF-Heavy", sans-serif;
    letter-spacing: 2px;
    margin: 0;
    font-size: 5rem;
    background: -webkit-linear-gradient(#eee, #a2abf3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#college,
#year {
    font-family: "IntegralCF-Regular", sans-serif;
    letter-spacing: 2px;
    margin: 0;
    display: flex;
}

#year {
    letter-spacing: 0px;
    margin-top: -20px;
    font-size: 1.5rem;
    justify-content: flex-end;
}

#college {
    font-size: 2.4rem;
    margin-bottom: -40px;
}

#tagline {
    font-family: "IntegralCF-Regular", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: rgb(255, 240, 178);
    margin-top: 30px;
}

.info_container {
    font-family: var(--raleway-font);
    font-size: 1.2rem;
    color: (255, 244, 202);
    font-weight: 500;
    margin-top: 10px;
}

#info {
    border-right: .07em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.icons_container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.social_icons {
    height: 22px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.social_icons:hover {
    color: var(--title-color-dark);
    transform: scale(1.2);
}

.button_container {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
}

.form-close {
    position: relative;
    top: 40px;
    right: 15px;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.right_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: container .5s ease-in;
}

.right_part img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #000000);
    width: 350px;
}

@media screen and (max-width: 992px) {
    .navbar-toggler {
        color: white !important;
    }

    .home_container {
        flex-direction: column-reverse;
        height: 100%;
        padding: 50px 0px;
        gap: 50px;
    }

    .left_part {
        padding: 0;
    }

    .right_part img {
        width: 225px;
    }

    .title {
        align-items: center;
    }

    #main_title {
        font-size: 3rem;
    }

    #year {
        margin-top: -10px;
        font-size: 1.2rem;
    }

    #college {
        margin-bottom: -20px;
        font-size: 1.2rem;
    }

    #tagline {
        font-size: 1rem;
    }

    .info_container {
        font-size: 1rem;
    }

    button {
        font-size: .8rem;
    }

    .social_icons {
        height: 16px;
    }
}