#about {
	width: 65%;
	margin: auto;
	padding: 80px 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#about .about_container {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 95%;
}

#about span {
	font-family: 'IntegralCF-Bold', sans-serif;
	font-size: 22px;
	letter-spacing: 1px;
}

#about div {
	margin-top: 30px;
}

#about p {
	font-size: 16px;
	color: #fff;
	font-family: var(--quicksand-font);
	font-weight: 500;
	line-height: 1.5;
	text-align: justify;
}

.video-responsive {
	overflow: hidden;
	margin-top: 60px;
	padding-bottom: 56.25%;
	border-radius: 20px;
	position: relative;
	height: 0;
	z-index: 100;
	width: 95%;
}

.video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

@media screen and (max-width: 1000px) {
	#about {
		width: 85%;
	}


	.video-responsive {
		width: 100%;
	}

	#about span {
		font-size: 18px;
	}

	#about p {
		font-size: 16px;
		line-height: 1.4;
		text-align: justify;
		width: 97%;
	}
}