form {
    font-family: var(--quicksand-font);
    margin: auto;
    font-size: 18px;
    border-radius: 10px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    font-size: 18px;
    font-weight: 600;
}

form input {
    font-weight: 500;
}

form div {
    width: 40vw !important;
}

.form_button_container {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}


@media screen and (max-width: 1000px) {
    form {
        padding: 30px 30px;
    }

    form header {
        font-size: 1.5rem;
    }

    .form-close {
        font-size: 18px;
    }

    .mb-4 {
        margin-bottom: 1.2rem !important;
    }

    form input {
        font-size: 16px;
    }

    form button {
        margin: auto;
        margin-top: 30px;
    }

    form div {
        width: 75vw !important;
    }


    .form_button_container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .form_button_container button {
        font-size: .9rem;
        margin: 0;
    }

}