.prizes-container {
	text-align: center;
	padding: 80px 0px;
}

.prizes-list {
	display: flex;
	justify-content: center;
	gap: 50px;
	flex-wrap: wrap;
	margin-top: 40px;
}

.prize-card {
	background-color: #1a1a1b;
	height: 400px;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	max-width: 300px;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: .3s ease-in-out;
}

.prize-card:hover {
	transform: scale(1.02);
}

.prize-card h3 {
	font-size: 2rem;
	color: var(--title-color-light);
}

.prize-card h4 {
	font-size: 1.5rem;
	color: var(--text-color);
}

.prize-card p {
	font-size: 1rem;
	color: var(--text-color);
}

.circle {
	position: relative;
	width: 120%;
	height: 100%;
	margin-top: -180px;
	border-radius: 999px;
	background: #232323;
	text-align: center;
	flex-shrink: 0;
}

.prize-card .medal {
	position: absolute;
	margin-top: -25px;
	font-size: 8rem;
}

.prize-card .description {
	margin-top: 25px;
	font-family: var(--quicksand-font);
	font-weight: 600;
	font-size: 18px;
	padding: 0 10px;
}

/* For small devices */
@media screen and (max-width: 1000px) {
	.prizes-list {
		gap: 15px;
	}

	.prize-card {
		max-width: 70%;
		height: 390px;
	}
}