/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
	--header-height: 3.3rem;

	/*========== Colors ==========*/
	--hue: 202;
	--sat: 100%;
	--title-color: white;
	--title-color-dark: rgb(197, 195, 255);
	--title-color-light: rgb(227, 229, 255);
	--text-color: white;
	--body-color: #141415;
	--container-color: #22083e;

	/*========== Font and typography ==========*/
	--poppins-font: "Poppins", sans-serif;
	--quicksand-font: "Quicksand", sans-serif;
	--raleway-font: "Raleway", sans-serif;
	--montserrat-font: "Montserrat", sans-serif;

	/*.5rem = 8px | 1rem = 16px ...*/
	--big-font-size: 3rem;
	--h1-font-size: 2.25rem;
	--h2-font-size: 1.5rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1.1rem;
	--small-font-size: 1rem;
	--smaller-font-size: 0.9rem;
	--tiny-font-size: 0.7rem;

	/*========== Font weight ==========*/
	--font-normal: 400;
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== Margenes Bottom ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--poppins-font);
	background-color: var(--body-color);
	background:
		radial-gradient(circle farthest-side at 80% 40%, var(--container-color) 10%, var(--body-color) 40%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: var(--text-color);
	font-size: var(--normal-font-size);
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
	user-select: none;
	overflow-x: hidden !important;
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
}

.swal2-popup {
	font-size: 1rem !important;
	font-family: var(--quicksand-font) !important;
	width: 500px;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: white;
}

li {
	list-style: none;
}

p {
	margin: 0;
}

button {
	font-family: var(--quicksand-font);
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
	border: none;
	background-color: var(--title-color-light);
	border: 2px solid var(--title-color-light);
	border-radius: 50px;
	padding: 0.5rem 1rem;
	transition: all 0.3s ease-in-out;
}

button:hover {
	background-color: transparent;
	color: white;
}

header {
	font-family: "IntegralCF-Bold", sans-serif;
	font-size: 37px;
	letter-spacing: 1px;
	transition: .5s ease-in-out;
	background: transparent;
	line-height: 1.3;
}

header:hover {
	transform: scale(1.05);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@font-face {
	font-family: "Aeonik-Medium";
	src: local("Aeonik-Medium"),
		url("./fonts/Aeonik-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Aeonik-Medium";
	src: local("Aeonik-Medium"),
		url("./fonts/Aeonik-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "IntegralCF-Heavy";
	src: local("IntegralCF-Heavy"),
		url("./fonts/IntegralCF-Heavy.woff2") format("woff2");
}

@font-face {
	font-family: "IntegralCF-Bold";
	src: local("IntegralCF-Bold"),
		url("./fonts/IntegralCF-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "IntegralCF-Regular";
	src: local("IntegralCF-Regular"),
		url("./fonts/IntegralCF-Regular.woff2") format("woff2");
}

#root {
	width: 100%;
}

@media screen and (max-width: 1000px) {
	body {
		background:
			radial-gradient(circle farthest-side at 50% 50%, var(--container-color) 30%, var(--body-color) 80%);
		background-attachment: fixed;
	}

	.swal2-popup {
		width: 80%;
	}
}