.countdown-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.countdown-box {
	text-align: center;
	padding: 7px 10px;
	width: 85px;
	background: transparent;
	border-right: 2px solid white;
	box-sizing: border-box;
}

.countdown-box:last-child {
	border-right: none;
}

.countdown-box span {
	font-family: "IntegralCF-Bold", sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: white;
	letter-spacing: 0.5px;
	line-height: 1;
}

.countdown-box p {
	font-family: "IntegralCF-Regular", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	color: white;
	margin-bottom: 0;
}