.title2{
	font-family: "IntegralCF-Bold", sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
	line-height: 1;
}

.countdown-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.countdown-box {
	text-align: center;
	padding: 7px 10px;
	width: 85px;
	background: transparent;
	border-right: 2px solid white;
	box-sizing: border-box;
}

.countdown-box:last-child {
	border-right: none;
}

.countdown-box span {
	font-family: "IntegralCF-Bold", sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
	line-height: 1;
}

.countdown-box p {
	font-family: "IntegralCF-Regular", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	color: var(--primary-blue-light);
	margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
	.countdown-box span {
		font-size: 22px;
		letter-spacing: 1.5px;
	}

	.countdown-box {
		padding: 4px 7px;
		width: 70px;
		margin-top: -10px;
	}
}