.header {
    box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
    background-color: #14141595;
    backdrop-filter: blur(8px);
}

nav .container {
    width: 83%;
}

.navbar-brand {
    color: white !important;
    height: var(--header-height);
    margin: 0;
    display: flex;
    align-items: center;
    font-family: "IntegralCF-Regular", sans-serif;
}


.navbar-collapse {
    justify-content: flex-end;
}

.mr-auto {
    display: flex !important;
    gap: 20px;
}

.mr-auto a {
    padding: 0 !important;
    padding-bottom: 2px !important;
    margin-bottom: 0;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: 500;
    transition: .3s ease-in-out;
    position: relative;
    padding: 0;
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, var(--title-color-light), var(--title-color-light));
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size .3s ease-in;
}

.nav-link:hover::before {
    background-size: 100% 2px;
}

.nav-link.active,
.nav-link.active::before {
    color: var(--title-color-light) !important;
}

.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}


.nav__link:hover {
    color: var(--title-color-light) !important;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 768px) {}

/* For small devices */
@media screen and (max-width: 1000px) {
    .header {
        background-color: #141415be;
        position: fixed;
    }

    nav .container {
        width: 90%;
    }

    .mr-auto {
        margin-bottom: 10px;
    }

    .nav-link {
        margin: 25px 0;
        font-size: 20px !important;
    }

    .nav-link:hover::before {
        background-size: 0%;
    }

    .mr-auto {
        justify-content: flex-start;
        gap: 0;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}